/* Allgemeine Layout-Einstellungen */
.container {
    width: 80%;
    margin: 0 auto;
}

.header-controls, .card, .add-card, .card-history {
    margin-bottom: 20px;
}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown label {
    margin-right: 10px;
}

.dropdown select {
    margin-right: 20px;
}

.buttons button {
    margin: 5px;
}

/* Kartenhistorie spezifische Einstellungen */
.card-history {
    overflow-x: auto;
    white-space: nowrap;
}

#card-history-container {
    display: flex;
    flex-direction: row-reverse;
}

.card-history-item {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
