body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editor {
    max-width: 800px;
    width: 100%;
}

.toolbar {
    margin-bottom: 10px;
    text-align: center;
}

.toolbar select,
.toolbar button {
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    border: none;
    background: #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
}

.toolbar button:hover {
    background: #d0d0d0;
}

.toolbar select {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-side {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    min-width: 45%;
    min-height: 200px;
    margin: 10px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    max-width: 100%;
    word-wrap: break-word;
}
