body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #88B6E0, #6F9BBE);
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px 0;
    background-color: #005ea8;
    color: white;
    border-bottom: 4px solid #004a86;
}

.header h1 {
    font-size: 48px;
    margin: 0;
}

.header p {
    font-size: 18px;
    margin: 10px 0 0 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #003e73;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
}

.toolbar-left {
    display: flex;
    gap: 5px; /* Enger zusammen */
    flex-wrap: wrap;
}

.color-tools {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.toolbar-center {
    flex-grow: 1;
    text-align: center;
}

.toolbar button,
.toolbar .toolbar-add-button,
.toolbar select {
    margin: 5px;
    padding: 8px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px; /* Kleinere Ansicht */
}

.toolbar .toolbar-add-button {
    background: linear-gradient(to bottom, #0066cc, #004a99);
    font-size: 14px;
    padding: 10px 20px;
}

.toolbar button:hover,
.toolbar .toolbar-add-button:hover,
.toolbar select:hover {
    background-color: #0056b3;
}

.color-picker {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #fff;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.color-picker label {
    font-size: 10px;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card-editor {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 20px;
}

.card-side-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
    color: black;
    margin: 10px;
}

.card-side {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: black;
    min-height: 200px;
    overflow: auto;
    position: relative;
}

.card-side.placeholder::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 10px;
    left: 10px;
    color: gray;
    pointer-events: none;
    font-size: 14px;
}

.history-scroll-container {
    display: none; /* Standardmäßig ausgeblendet */
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto 20px auto;
}

.history-card {
    min-width: 150px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 0;
    color: black;
}

.history-card:hover {
    transform: scale(1.05);
}

.history-card .front-preview {
    font-size: 14px;
}

.history-card .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.drawCanvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.5);
}

.color-selector {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

.color-selector button {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin: 2px;
    border-radius: 50%;
}

.image-resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: red;
    cursor: se-resize;
}
