body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/Benutzer/marcowiedmann/Schreibtisch/Ordner 2/Zeitplan/_72af79d1-a58a-42b8-937e-c28da6f085a0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black; /* Textfarbe korrigiert */
}

.header {
    text-align: center;
    background: linear-gradient(to right, #006994, #33b5e5);
    color: white;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header h2 {
    margin: 0;
    font-style: italic;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    transition: transform 0.2s;
}

button.animated-button:active {
    transform: scale(1.1);
}

#create-schedule-btn {
    background: linear-gradient(to right, #0052a3, #00aaff);
}

#edit-schedule-btn {
    background: linear-gradient(to right, #004080, #0066cc);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

.modal-content {
    background: linear-gradient(to right, #33b5e5, #006994);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: white;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

label {
    font-size: 1.2em;
    margin-top: 10px;
    display: block;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

#calendar {
    max-width: 100%;
    margin: 20px 0;
    background: #e6f7ff;
    border-radius: 10px;
    overflow: hidden;
}

.fc .fc-toolbar-title,
.fc .fc-daygrid-day-number,
.fc .fc-daygrid-day-events {
    color: black; /* Textfarbe im Kalender */
}

#date-range,
#milestone-date {
    font-size: 1.2em;
    margin-top: 20px;
}

button.cancel {
    background: #ff4d4d;
}

.hidden {
    display: none;
}

.edit-option {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    background: #0052a3;
    color: white;
    text-align: left;
    cursor: pointer;
}

.edit-option.delete {
    background: #ff4d4d;
    color: red; /* Rot für Löschen */
}
